[submodule "mysqldb"]
	path = mysqldb
	url = git@github.com:xmravec3/DockerMySQL.git
[submodule "climberAPI"]
	path = climberAPI
	url = git@github.com:xmravec3/ClimberAppAPI.git
[submodule "climberWeb"]
	path = climberWeb
	url = git@github.com:xmravec3/Climbers.git
